<div class="container">
    <img src="https://t3.ftcdn.net/jpg/00/86/83/06/240_F_86830610_oeZJ0BG7scg8su2cUug3db6TMollVqtA.jpg" alt="Snow"
        style="width: 100%; filter: brightness(0.5)" />
    <div class="centered">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
            integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- 
        <div class="main__cards">
            <div class="card">
                <i class="fa fa-user-md fa-2x" aria-hidden="true"></i>
                <div class="card_inner">
                    <p class="text-primary-p">
                        Today :
                        <span class="font-bold text-title" style="font-weight: bolder">15</span>
                    </p>
                </div>
            </div>
        </div> -->
        <div>
            <h1 style="font-size: 55px; color: whitesmoke">Welcome Nurse</h1>
        </div>
        <div class="button_container">
            <p>
                <button class="btn" routerLink="/nurse/appointments"><span>Appointments</span></button>
            </p>
        </div>
          
    </div>
</div>