<section>
    <div class="container">
      <h1 class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" Style="text-align: center;">Reset Password</h1>  
      <br>
      <form #forgotForm="ngForm" (ngSubmit)="onSubmit(forgotForm.value)">  
        <div class="row">
          <mat-form-field appearance="outline" style="width:50%;">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" name="email" required ngModel />
            <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          </mat-form-field>
          
            <div class="col-6 col-sm-6 col-md-6 col-lg-6"> 
                <mat-form-field appearance="fill">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" ngModel required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field> 
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6"> 
                <mat-form-field appearance="fill">
                    <mat-label>Confirm your password</mat-label>
                    <input name="password" matInput [type]="hide ? 'password' : 'text'" ngModel required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field> 
            </div>
            <button type="submit" mat-raised-button color="primary" routerLinkActive="active">
              submit
            </button>
        </div>
        </form>
      </div>
    </section>
