<!-- <p>
  <mat-toolbar style="background-color: #099dc6">
    <span>
      <h1 style="text-align: center;color: white;"><b>Patient Management System</b></h1></span>
  </mat-toolbar>
</p> -->

<div class="login">
  <h2>Login</h2>
  <form #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm.value)">
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" name="email" required ngModel />
          <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
          
        </mat-form-field>
      </div>
      
      <div>
        <mat-form-field appearance="outline" style="width:50%;">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" ngModel required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button class="b2" type="submit" mat-raised-button color="primary" routerLinkActive="active">
        Login
      </button>
      <button class="b1" mat-raised-button color="primary" routerLink="/register" routerLinkActive="active">
        Register
      </button>
      <br>
      <div>
      <button class="b2" (click)="openDialog()">Forgot Password?</button>
    </div>
      <mat-error *ngIf="showError">Please Register First!!!</mat-error>
      </form>
</div>
