<button mat-icon-button style="float: right;margin: 2px;" matDialogClose class="qwerty">
<mat-icon >close</mat-icon>
</button>
<mat-dialog-content class="qwerty">
    <header>
        <h1 align="center">Update Physician</h1>
        <mat-divider></mat-divider>
        <br>
    </header>
    <div align="center" >

    <p>
        <mat-form-field>
            <input matInput placeholder="Physician Name">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
    </p>

</div>
</mat-dialog-content>
 
<mat-dialog-actions class="qwerty">
    <button mat-raised-button color="primary">Save</button>
    <button mat-raised-button color="warn" matDialogClose>Cancel</button>
</mat-dialog-actions>
